PROJECT_NAME=
PROJECT_URL=
PROJECT_VERSION=
PLATFORM=

NGINX_SITE_MAIN=www.qobo.biz
NGINX_SITE_OTHER=
NGINX_ROOT_PREFIX=/var/www/html
NGINX_LOG_PREFIX=/var/log/nginx
NGINX_FASTCGI_PASS=127.0.0.1:9000

ALLOW_ROBOTS=1
ALLOW_ROBOTS_EXCEPT_ON=qobocloud.com

TEMPLATE_SRC=etc/nginx.conf.template
TEMPLATE_DST=etc/nginx.conf

LETSENCRYPT_EMAIL=
LETSENCRYPT_WEBROOT=
LETSENCRYPT_DOMAINS=

DB_ADMIN_USER=root
DB_ADMIN_PASS=

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=

DB_DUMP_PATH=etc/mysql.sql

GIT_REMOTE=origin
GIT_BRANCH=

CRON_ENABLED=0

IGNORE_FS_ERRORS=1
CHOWN_PATH=tmp
CHMOD_PATH=tmp
CHGRP_PATH=tmp
CHMOD_FILE_MODE=0664
CHMOD_DIR_MODE=02775
CHOWN_USER=nginx
CHGRP_GROUP=nginx
