build/
vendor/
webroot/wp/
.env
etc/nginx.conf
etc/ssl/*

# Ignore wp-content/, but exclude uploads by dev user
!webroot/wp-content/
webroot/wp-content/*
!webroot/wp-content/uploads
webroot/wp-content/uploads/*
!webroot/wp-content/uploads/qobo
