parameters:
    level: max
    paths:
        - src
        - tests
        - webroot
    excludes_analyse:
        - webroot/wp
    autoload_files:
        - webroot/wp/wp-load.php
        - webroot/wp/wp-admin/includes/plugin.php
