<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	verbose="true"
	>

	<filter>
		<whitelist>
			<directory suffix=".php">.</directory>
			<exclude>
				<directory>./bin/*</directory>
				<directory>./build/*</directory>
				<directory>./tests/*</directory>
				<directory>./etc/*</directory>
				<directory>./vendor/*</directory>
				<file>./index.php</file>
			</exclude>
			<include>
				<directory>./src/*</directory>
			</include>
		</whitelist>
	</filter>
	
	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
	</logging>
	
	<testsuites>
		<testsuite name="example">
			<directory>tests/Example/</directory>
		</testsuite>
		<testsuite name="environment">
			<directory>tests/Environment/</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>tests/Integration/</directory>
		</testsuite>
		<testsuite name="unit">
			<directory>tests/Unit/</directory>
		</testsuite>
	</testsuites>
</phpunit>

